# 兔茅500ml
ITEM_CODE_1 = '10213'
# 兔茅375ml*2
ITEM_CODE_2 = '10214'
ITEM_CODES = [ITEM_CODE_1, ITEM_CODE_2]

# EMAIL_SENDER_USERNAME = "sender@126.com"
EMAIL_SENDER_USERNAME =
EMAIL_SENDER_PASSWORD = "XXXGKIB"
SMTP_SERVER = "smtp." + EMAIL_SENDER_USERNAME.split("@")[1]
SMTP_PORT = 25

EMAIL_RECEIVER = EMAIL_SENDER_USERNAME
